.voters-list{
    background-color: var(--white);
    width:70%;
    margin:20px auto;
    padding:20px;
    border-radius:25px
}

.vote-option{
    height: 25px;
    width: 25px;
    accent-color:var(--blue);
}

table {
    border-collapse: collapse;
    margin:0 auto;
    border-radius:25px;
    font-size:18px;
    width: 100%;
  }
  
  td, th {
    text-align: center;
    padding: 5px;

  }
  th{
    background:var(--blue);
    color:white;
    padding:10px 20px;
  }
  th:first-of-type{
    border-top-left-radius: 20px;

  }
  th:last-of-type{
    border-top-right-radius: 20px;

  }
  tr:last-child > td:first-child{
    border-bottom-left-radius: 25px;

  }
  tr:last-child > td:last-child{
    border-bottom-right-radius: 25px;

  }
  

  tr:nth-child(even) {
    background-color: var(--light-blue);
  }