.footer{
    background-color: var(--blue);
    display: flex;
    flex-wrap: nowrap;
    /* position:absolute;
    bottom:0; */
    width:100%;
    justify-content: space-between;
    align-items: end;
    padding-top:30px;
}
.cp-text{
    font-size: 12px;
    color:var(--white);
    text-align: center;
    margin-left:-10px
}
.socials{
    display:flex;
    width:200px;
    justify-content: space-around;
    align-items: center;
    padding:20px
}