body {
  margin: 0;
  font-family: 'Alata';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--blue);
  background:var(--light-blue)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --blue : #083E54;
  --light-blue : rgba(41, 129, 191, 0.25);
  --white : #FFF;
  --red : #FF0000;

}

.primary-btn{
  background-color: var(--blue);
  color: var(--white);
  font-size:16px;
  padding:10px 15px;
  border: none;
  border-radius:5px;
  text-align:center;
  width:120px;
}

.input-field{
  padding: 10px 15px;
  outline:none;
  border: 1px solid #9C9C9C;
  border-radius: 5px;
  margin:10px;
  margin-left:0
}

